

@media screen and (min-width:768px) {
    
 body {
         width: 100%;
         height: 100vh;
         background: #E5E5E5;
         color: #333333;
         font-family: 'Red Hat Display', sans-serif;
         font-size: 16px;
         font-style: normal;
         font-weight: 700;
         line-height: 21px;
         letter-spacing: 0em;
         text-align: left;
         padding: 0px;
         
        }
        a{
            text-decoration: none;
            color: black;
        }
        a.nav-bar:hover{
           background-color: #00C5B4;
           border-radius: 5px;
           width: 66px;
           height: 30px;
           padding: 15px;
           text-align: center;
           color: #ffffff;
           transition: background 1s linear 0.1s , color 0.5s linear 0s; 
        }
        nav{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            padding: 10px 5px 10px 5px;
            background: #ffffff;
            

        }
        span#logo-navbar{
            display: flex;
            flex-direction: row;
            width: 40%;
            padding-right: 15%;
        }
        a#nav-logo{
            text-align: center;
            padding-top: 10px;
            
        }
        header{
            display: flex;
            flex-direction: row;
            justify-content: center;
            background: #FFFFFF;

        }
    div.header-container{
        background: url(/imges/about.jpg), #DDDADA;
        background-size:100% 100%;
        background-repeat: no-repeat;
        border-width: 8px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;

        margin-left: 20px;
        margin-right: 20px;
       width: 1372px;
        height: 739px;
    }
    div.about-content{
        height: 260px;
        width:  420px;
        background: rgba(0, 197, 180, 0.54);
        border-radius: 15px;
        color: #ffffff;
        padding: 8px;
        position: relative;
        right: 40px;
        top: 60px;
    }
   
    div#our-mission {
        background: #FFFFFF;
        height: 300px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    p.mission-statement{
        font-size: 28px;
        font-weight: 400;
       line-height: 2;
    }
    div#services{
        background: rgba(120, 240, 230, 0.4);
       padding: 2% 5px 5%;
    }

    h2{
       margin: 5px 30% 5px ;
       padding: 10px 0 15px;
       font-size: 37px;
       font-weight: 700;
       text-align: center; 
       text-decoration: underline #00C5B4 5px ; 

    }
    h2#services-heading{
        padding: 10px 0;
        margin: 0 0 4%;
    }
    div.service-img{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        
    }

    div.services-link{
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
        font-size: 24px; 
        margin: 1.5% 0 ;
    }
    a#pcs{
        position: relative;
        right: 3.5%;
    }
    a#dy{
        position: relative;
        right: 7.6%;
    }
    a#ps{
        position: relative;
        right: 2.5%;
    }
   
    div.sv{
        background: rgba(168, 168, 168, 0.2);
        padding: 18px 0 5%;
        }
    div#values-and-images{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
    }
    img#value-logo{
        width: 409px;
        height: 388px;
    
    }


    ul.list-values{
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        font-size: 28px;
        line-height: 2;
    }
    li.list-values{
        margin: 35px 5px;
    }

    div#founder-container{
        background: #ffffff;
        padding: 18px 0 10%;
    }
    div.our-founder{
        background-color: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background: #FFFFFF;

    }
    h2#h2founder{
        background: #ffffff;
    }

    img#founder-img{
        width: 495px;
        height: 450px;
        margin:5px 10px;
    }
    p.our-founder{
        padding-right: 8px;
        font-size: 24px;
        line-height: 2;
       font-weight: normal;
        width: 40%;
        height: 30%;
    }
    div.our-team-container{
        padding:18px 0 20px;
    }
    h2.our-team{
        padding: 10px 0;
        margin: 0 0 4%;
    }
    div.our-team{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    img#our-team-img{
        width: 45%;
        height: 40%;
    }
    p.our-team{
        font-weight: normal;
        font-size: 24px;
        line-height: 2;
        width: 30%;
        height: 30%;
    }
    h4{
        margin: 5px 30% 5px ;
       padding: 10px 0 15px;
       text-align: center;
    
    }
    h4.Newsletter{
        font-size: 37px;
        font-weight: bold;
        text-decoration: none;
    }
    span#underline{
        text-decoration: underline #00C5B4 8px;
        
    }

    div.Newsletter{
        background: #FFFFFF;
        padding: 18px 0px 20px;
    }
    div#email-sign-up{
        background: #FFFFFF;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2%;

    }
    input.user-input{
        box-sizing: border-box;
        border: 1px solid #C4C4C4;
        border-radius: 5px;
        background: #F9F9F9;
        width: 15%;
        height: 30px;
        padding: 2px 1px 2px 15px;
        font-size: 16px;
    }
    input#sign-up-btn{
        width: 8%;
        height: 35px;       
        background: #00C5B4;
        border-radius: 5px;
        font-size: 16px;
        font-weight: bold;
        line-height: 20px;
        color: #000000;
        box-sizing: border-box;
        border: none;
 
    }
   footer{
        background: rgba(120, 240, 230, 0.4);
        border-radius: 5px;
       display: flex;
       flex-direction: row;
       justify-content: space-evenly;
       padding: 25px 0 20px ;
       font-size: 28px;
    }
   img#logo-disclaimer{
       width: 156px;
       height: 135px;
       margin-top: 15px;
   }
   span#empr-medical{
    font-size: 28px;
   }
 
  

    h3.office-address{
        font-size: 30px;
        font-weight: bold;
        font-style: normal;
        padding: 0;
        margin: 5px 0;
        
    }
    
    
    li.li-footer{
      line-height: 2.2; 
      font-size: 28px;
    }

    ul{
        list-style-type: none;
    }
}

@media screen and (max-width:767px) {
     body {
        width: 100%;
        height: 100vh;
        background: #E5E5E5;
        color: #333333;
        font-family: 'Red Hat Display', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;
        padding: 0px;
        
       }
       a{
        text-decoration: none;
        color: black;
    }
    a.nav-bar:hover{
       background-color: #00C5B4;
       border-radius: 5px;
       width: 66px;
       height: 30px;
       padding: 15px;
       text-align: center;
       color: #ffffff;
       transition: background 1s linear 0.1s , color 0.5s linear 0s; 
    }
    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 10px 5px 10px 5px;
        background: #ffffff;
        padding: 2% 5%;
        

    }
    span#logo-navbar{
        display: flex;
        flex-direction: row;
        width: 40%;
        padding-right: 15%;
    }
    a#nav-logo{
        text-align: center;
        padding-top: 10px;
        
    }
    header{
        display: flex;
        flex-direction: row;
        justify-content: center;
        background: #FFFFFF;

    }
div.header-container{
    background: url(/imges/about.svg), #FFFFFF;
    background-size:100% 100%;
    background-repeat: no-repeat;
    border-width: 8px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    padding: 60px 0;
    margin-left: 20px;
    margin-right: 20px;
   min-width: 300px;
   min-height: 200px;
   max-width: 760px;
   max-height: 330px;
}
div.about-content{
    max-height: 250px;
    max-width: 500px;
    background: rgba(0, 197, 180, 0.54);
    border-radius: 15px;
    color: #ffffff;
    padding: 20px 0;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content:center;
}

h1.about-content{
    margin: 5px 0 15px 0;
    padding: 0px;
}
p.about-content{
    margin: 1%;
    font-weight: normal;
    font-size: 18px;
}


div#our-mission {
    background: #FFFFFF;
    height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 10%;
}
p.mission-statement{
    font-size: 28px;
    font-weight: 400;
   line-height: 2;
}
div#services{
    background: rgba(120, 240, 230, 0.4);
   padding: 2% 5px 5%;
}

h2{
   margin: 5px 30% 5px ;
   padding: 10px 0 15px;
   font-size: 37px;
   font-weight: 700;
   text-align: center; 
   text-decoration: underline #00C5B4 5px ; 

}
h2#services-heading{
    padding: 10px 0;
   
}
div.service-img{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
img.service-img{
    max-height: 200px;
    max-width: 100px ;
}

div.services-link{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    font-size: 24px; 
    margin: 1.5% 0 ;
}
a#pcs{
    position: relative;
    right: 3.5%;
}
a#dy{
    position: relative;
    right: 7.6%;
}
a#ps{
    position: relative;
    right: 2.5%;
}

div.sv{
    background: rgba(168, 168, 168, 0.2);
    padding: 18px 0 5%;
    }
div#values-and-images{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}
@media screen and (max-width:757px)  {
    div#values-and-images{
        display: flex;
        flex-direction: column-reverse;
        justify-content:space-around;
        align-items:center;
    }
    

    
}

img#value-logo{
    width: 409px;
    height: 388px;

}


ul.list-values{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    font-size: 28px;
    line-height: 2;
}
li.list-values{
    margin: 35px 5px;
}

div#founder-container{
    background: #ffffff;
    padding: 18px 0 10%;
}
div.our-founder{
    background-color: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #FFFFFF;

}
h2#h2founder{
    background: #ffffff;
}

img#founder-img{
    width: 495px;
    height: 450px;
    margin:5px 10px;
}
p.our-founder{
    padding-right: 8px;
    font-size: 24px;
    line-height: 2;
   font-weight: normal;
    width:60%;
    height: 30%;
}
div.our-team-container{
    padding:18px 0 20px;
}
h2.our-team{
    padding: 10px 0;
    margin: 0 0 4%;
}
div.our-team{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-content: center;
    align-items:center
}
img#our-team-img{
    width: 50%;
    height: 40%;
}
p.our-team{
    font-weight: normal;
    font-size: 24px;
    line-height: 2;
    width: 60%;
    height: 30%;
}
h4{
    margin: 5px 30% 5px ;
   padding: 10px 0 15px;
   text-align: center;

}
h4.Newsletter{
    font-size: 37px;
    font-weight: bold;
    text-decoration: none;
}
span#underline{
    text-decoration: underline #00C5B4 8px;
    
}

div.Newsletter{
    background: #FFFFFF;
    padding: 18px 0px 20px;
}
div#email-sign-up{
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;

}
input.user-input{
    box-sizing: border-box;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    background: #F9F9F9;
    width: 15%;
    height: 30px;
    padding: 2px 1px 2px 15px;
    font-size: 16px;
}
input#sign-up-btn{
    width: 8%;
    height: 35px;       
    background: #00C5B4;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    color: #000000;
    box-sizing: border-box;
    border: none;

}
footer{
    background: rgba(120, 240, 230, 0.4);
    border-radius: 5px;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   padding: 25px 0 20px ;
   font-size: 28px;
}
img#logo-disclaimer{
   width: 156px;
   height: 135px;
   margin-top: 15px;
}
span#empr-medical{
font-size: 28px;
}



h3.office-address{
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    padding: 0;
    margin: 5px 0;
    
}


li.li-footer{
  line-height: 2.2; 
  font-size: 28px;
}

ul{
    list-style-type: none;
}
    
}