@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700&display=swap'); */

body {
	font-family: 'Red Hat Display', sans-serif;
	font-size: 16px;
	color: #000000;
  margin: 0px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background:rgb(245, 241, 241);
  padding: 0.8em 4em;
}
.logo {
  display: flex;
  align-items: center;
}
.dropdown {
  display: none;
}
.navbar {
  display: none;
}
img{
  width:30px;
}
h2{
  display: inline-block;
  font-size: 18px;
  padding-left: 8px;

}

a {
  color: #000000;
  text-decoration: none;
  margin: 0 0 0 32px;
  transition: color 0.5s;
  font-family: 'Red Hat Display', sans-serif;
  padding: 3px;
}
/* .no-dropdown a {
   font-weight: bold;
} */
a:hover, a.selected {
  background-color: #00c5b4;
  color: white;
}
a.selected, a {
  border-radius: 7px;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
}
.container-docimage {
  position: relative;
  background-image: url('./images/FAQ-images/Rectangle\ 284.svg');
  max-width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}
.textover-image {
  background-color: rgb(39, 196, 180, 0.7);
  padding: 2% 8%;
  width: 40%;
  text-align: center;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  border-radius: 15px;
  font-size: 22px;
}
.textover-image p {
  text-align: left;
  font-size: 20px;
}
#here {
  margin: -10px !important;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  color: white;
  text-decoration-color: rgb(39, 196, 180);
  font-size: 16px;
}
/* .doctor-image {
  background-image: url('./images/FAQ-images/Rectangle\ 284.svg');
  max-width: 100%;
  height: 712px;
  background-repeat: no-repeat;
  background-size: contain;
  
} */

.search-box { 
  /* padding-left: 23.5em;
  margin-top: -20px; */
  width: 80%;
  margin: 2em auto 3em;
   position:relative;
}
.search-box input[type=search] {
  width: 90%;
  align-content: center;
  padding: 1.5em;
  /* padding-left: 30em; */
  /* margin-top: 70px;
  margin-bottom: 50px; */
  background-color: rgb(245, 241, 241);
  border: none;
  border-radius: 7px;
 
}
.search-box input[type=search]:focus {
  background-color: #78f078E6;
}
.fa-search {
  position: absolute;
    top: 36%;
    right: 15%;
}
.accordion .squaretop-left {
  position: absolute;
  left: 34px;
  bottom: -310px;
}
.accordion .squareone-right {
  position: absolute;
  right: 95px;
  bottom: -236px;
}
.accordion .squaretwo-right {
  position: absolute;
  right: 5px;
  bottom: -320px;
}
.accordion .squareone-left {
  position: relative;
  top: -76px;
    left: -110px;
}
.accordion .squaretwo-left {
  position: relative;
    right: 126px;
    top: 11px;
}
.squarebottom-right {
  position:absolute;
  top: 87em;
  left: 87em;
}
/* ACCORDION */
.accordion {
  margin: auto;
  max-width: 84%;
  border-radius: 5%;
  margin-bottom: 50px;
}
.accordion__label, .accordion__content {
  padding: 20px;
  margin-bottom: 19px;
  position: relative;
  top: 0;
  font-size: 18px;    
}

.accordion__label {
  display: block;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  transition: background 0.1s;
  background: rgb(39, 196, 180);
  border-radius: 6px;
  opacity: .7;
}
.accordion__label h3 {
  margin: 0.5em;
}
.accordion__label:hover {
  background: rgb(53, 245, 226);
}
.accordion__label::after {
  content: "+"; 
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  width: 12px;
  height: auto;
}
.accordion__content {
  font-size: 0.85;
  display: none;
  background-color:rgb(166, 243, 235);
  margin-top: -18px;
}
.accordion__content p {
  margin: 0.5em;
}
.accordion__input:checked ~ .accordion__content {
display: block;
} 
.accordion__input:checked + .accordion__label::after {
content: "-";
}
#section1, #section2,  #section3, #section4, #section5, #section6 {
   display: none;
   margin-bottom: 20px; /*spacing between sections*/
} 
.section-bottom {
  margin-top: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right: 100px;
  width:100%;
  /* font-size: 16px;  */
  /* background-color: lightgray; */
  background:rgb(245, 241, 241);
}

.section-bottom .logo{
  margin-left:10px;
  margin-right:140px;
  display: flex;
  
}

.section-bottom .empr-logo {
  width: 30px;
  margin-left: 30px;
}

.logo h3 {
  margin-left: 10px;
  font-size: 20px;
}
.section-bottom .last {
  display: flex;
  /* width: 22%; */
  align-items: center;
}

footer {
  display: inline-block;
  padding:30px;
  background-color:#78F0E6;
  height:250px;
  display:grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  /* line-height: 1.5; */
 }
 .footer1 img{
     width:60px;
 }
 footer a {
   margin: 0px;
   padding: 0px;
   font-size: 16px;
   font-weight: normal;
   line-height: 2.5;
 }

 .footer2, .footer3, .footer4 {
   padding-top: 11px;
 }
 #footer-links {
  background-color:#78F0E6;
  color: #000000;
 }
#footer-links:hover {
  cursor:pointer;
  transition:0.2s;
  font-weight: bold;
 }
 
 
 footer .footer3 p:hover{
     cursor:pointer;
     transition:0.2s;
     font-weight: bold;
 }
 
 footer .footer4 p:hover{
     cursor:pointer;
     transition:0.2s;
     font-weight: bold;
 }


 /* @media only screen and (max-width: 991px) {
  html,body {
    margin:0;
    padding:0;
    overflow-x:hidden;
} */
 
 @media only screen and (max-width: 780px) {
  html,body {
    margin:0;
    padding:0;
    overflow-x:hidden;
}
  header {  
     display: flex;
     width: 100%;
     margin-left: 0px;
     justify-content: space-around;
     align-items: center;
     padding: 0.8em 0em;
   }
   header .dropdown {
    display: inline;
  }
  header .no-dropdown {
    display: none;
  }
  .navbar {
    display: block;
    margin: -17px;
  }
/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  /* height: 320px; */
  font-size: 22px;
  font-weight: none;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  left: 0;
}
/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 16px 8px;
  text-decoration: none;
  display: block;
  /* text-align: center; */
  margin-left: auto;
  margin-right: auto;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}


   /* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  border: none;
  outline: none;
  background-color: inherit;
}

/* Add a background color to navbar links on hover */
.navbar a:hover {
  background-color: #00c5b4;
}

   header h2{
       /* margin-left: 10px;
       margin-right: 0px;
       margin-top: 28px;
       margin-bottom: auto; */

       font-size: 16px;
   }
 
   header a {
      display: block;
       width:fit-content;
       text-decoration: none;
       margin: 10px;
       padding: 0px;
       margin-top: 10px;
   }
   .container-docimage {
    
    height: 200px;
   }

   .textover-image {
    font-size: 9px;   
    width: 70%;
    /* top: 24%; */
  }
  .textover-image p {
    font-size: 14px;
  }
  .doctor-image {
    height: 350px;
  }

.accordion {
  max-width: 94%;
}
.accordion .squaretop-left {
  display: none;
}
.accordion .squareone-right {
  display: none;
}
.accordion .squaretwo-right {

  display: none;
}
.accordion .squareone-left {
  display: none;
}
.accordion .squaretwo-left {
    display: none;
}
.accordion .squarebottom-right {
  display:none
}

.accordion__label, .accordion__content {
  font-size: 16px;    
}
.section-bottom {
  display: inline-block;
  margin-top: 20px;
  width: 100%;
}
.section-bottom p {
  font-size: 16px;
  margin-left: 5%;
}
.section-bottom .last {
  width: 103%;
}
footer {
  display: inline-block;
  width: 100%;
  height: 100%;
}

 }