* {
    /* margin: 0;
    padding: 0; */
    text-decoration: none;
    font-family: 'Red Hat Display', sans-serif;
}
.menu {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    background-color: rgb(247, 244, 244);
    margin-left: 137px;
    margin-right: 800px;
}   
.logo {
    margin-left: 5em;
    margin-bottom: 1em;
} 
.logo, .img {
    display: flex;
    align-items: flex-end;
}
.nav-bar {
    margin-left: auto;
    margin-right: 46px;
}


.active {
    background-color: rgb(42, 199, 183);
    color: #fff;
    padding: 15px;
    border-radius: 10%;
    font-weight: 700;
}
.topnav-right, .a {
    color: black;
    font-weight: 600;
    padding: 15px;
}
.doctor-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 88%;
    width: 200%;
    position: relative;
}
.overlay-image {
    position: absolute;  
    bottom: 340px;
    right: 730px;
}
.centered {
    color: #ffff;
    position: absolute;
    top: 8%;
    margin-left: 8em;
}
.search-box { 
    padding-left: 34em;
}
.search-box input[type=text] {
    align-content: center;
    padding: 14px 115px;
    padding-left: 20em;
    margin-top: 70px;
    margin-bottom: 50px;
    background-color: rgb(241, 236, 236);
    border: none;
}
.accordion {
    background-color: rgb(42, 199, 183);
    color: black;
    cursor: pointer;
    padding: 30px;
    width: 70.5%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-bottom: 10px;
    margin-left: 117px;
    transition: 0.4s;
}
.accordion:hover {
    background-color: rgb(178, 240, 226);
}
.panel {
    padding: 0px 18px;
    background-color: #fff;
    display: none;
    overflow: hidden;
}
.footer-menu {
    display: flex;
    padding-left: 2em;
    align-items: baseline;
    justify-content: space-around;
    background-color: #80808014;
    margin-right: 450px;
    margin-left: 115px;
    padding: 15px 15px;
}
.navbar {
    background-color: 80808014;
    overflow: hidden;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
}

#logo-bottom {
    float: left;
    margin-left: 95px;
    max-width: 200%;
    width: 100%;
 }