@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');

:root {
    --seagreen: #00C5B4B2;
}
body {
    margin: 0;
    padding: 0;
    border-radius: 7px;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 22px;
    color: #333333;
}
header {
    display: flex;
    margin: 1em 0em;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}
.logo {
    display: flex;
    align-items: center;
    margin-left: 10px;
   
}

.logo img {
    width: 30px;
}
.logo h2 {
    display: inline-block;
    font-size: 16px;
    padding-left: 8px;
}
.search-box {
    position: relative;
}
.search-box input[type=search] {
    align-content: center;
    padding: 1em 9em;
    background-color: #e4e1e1;
    border: none;
    border-radius: 7px;
}
.fa-search {
    position: absolute;
    padding-top: 10px;
    right: 5%;
}
/* .header-icons {
    margin-right:825px;
} */


.main-container {
    display: flex;
    margin: 0 auto;
    max-width: fit-content;
}
.dropdown {
    display: none;
}
.navbar {
    display: none;
}
.dashboard-container {

    /* position: sticky; */
    align-content: center;
    justify-content: space-around;
    background: var(--seagreen);
    border-radius: 10px; 
    padding-right: 5em;
    font-weight: bold;
   
}

.dash-image img, 
.dash-support img, 
.dash-logout img {
    margin-right: 15px;
    margin-left: 30px;
}
.dash-image,
.dash-support,
.dash-logout {
    display: flex;
    flex-direction: row;
    padding: .5em 0em;
}
.dash-image h3, 
.dash-support h3, 
.dash-logout h3 {
    font-style: normal;
    font-size: 16px;
}
a {
    text-decoration: none;
    color: #333;
}


.middle-container {
    display: flex;
    /* flex-basis: 70%; */
    margin-left: 40px;
    /* width: 70%; */
}
.center {
    display: flex;
}
.welcome-container {
    background: linear-gradient(264.31deg, rgba(0, 197, 180, 0.4) 11.94%, rgba(255, 255, 255, 0.4) 34.66%);
  
}
.welcome-container h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 37px;

}
.welcome-container p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;

}
.analytics {
    padding-bottom: 60px;
}
.analytics-heading h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 28px;

}
.cards {
    display: flex;
     }
.section1, .section2 {
    width: 20%;
    margin-right: 40px;
    /* padding: 0px 50px 40px 50px; */
    padding: 1em 2em;
    border-radius: 15px;
    box-sizing: content-box;
    border: 1px solid gray;
    } 
    .section1 h2, .section2 h2, .section3 h3 {
        color: #000000;
        font-style: normal;
        font-weight: bold;
        font-size: 21px;
    }

.section3 {
    background: #00C5B438;
    /* box-sizing: content; */
    border-radius: 15px;
    width: 90%;
} 
.column {
    display: flex;
    justify-content: space-around;
}

.card-content1 h3 {
    color: #000000;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
}
.card-contnet h3 {
    font-size: 20px;
}
.column h1 {
    font-style: italic;
    font-weight: bold;
    font-size: 64px;
    margin-top: -14px;
    /* margin-left: 20px; */
}
.stars {
   margin-top: -20px;
   margin-bottom: -56px;
}
.rating {
    font-weight: bold !important;
    font-size: 50px !important;
    margin-left: 30px;
}
.fa-star {
    color: yellow;
}
.card h2 {
    font-weight: 500;
    font-size: 28px;
    text-align: center;
}
.section1 p, .section2 p{
    font-size: 16px;
}
.card h4 {
    padding-left: 43px;
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
}


.appointments {
    border: 1px solid gray;
    border-radius: 5px;
    padding-top: 30px;
    padding-bottom: 70px;
    font-size: 16px;
}
.appointments h1 {
    text-align: center;
    font-weight: 500;
}
.section4, .section5, .section6 {
    width: 181px;
    margin-right: 25px;
    margin-left: 35px;
    padding: 0px 50px 40px 50px;
    border-radius: 15px;
    box-sizing: content-box;
    border: 2px solid gray;
    } 
.section4 {
    border: 1px solid #96D9FF;
    background: #96D9FF33;
}
.section4 h2, .section5 h2, .section6 h2 {
    text-align: center;
}
.section5 {
    background: #78F0E633;
    border: 1px solid #78F0E6CC
}
.section6 {
    background: #FFB26B66;
    border: 1px solid #FFB26B
}
.patient-info {
    display: flex;
    align-items: baseline;
}
.patient-date {
    display: flex;
    align-items: baseline;
}
.visit-type {
    display: flex;
    align-items: baseline;
  
}
.signup-btn:hover {
    background-color: rgb(178, 240, 226);
  }
 .signup-btn  {
    background: var(--seagreen);
    margin-top: 30px;
    padding: 12px;
    border: transparent;
    margin-left: 105px;
    font-size: 16px;
    border-radius: 8%;
    font-weight: bold;
    margin-left: 880px;
}
.farright {
    margin-left: 60px;
    margin-right: 30px;
    align-items: center;
    /* width: 20%; */
}
.section7 {
    margin-left: 50px;
}
.section7 img {
    width: 37%;
    margin-left: 30px;
}
.section7 h4 {
    align-content: center;
    font-weight: bold;
    font-size: 28px;
}
.section7 p {
    margin-left: 40px;
}
.section8, .section9, .section10 {
    box-sizing: border-box;
    width: 100%;
    height: 180px;
}
.section8 {
    background: linear-gradient(237.4deg, #FFB26B 4.37%, rgba(255, 178, 107, 0) 44.89%);
    margin-bottom: 10px; 
}
.section9 {
    background: linear-gradient(248.76deg, rgba(150, 217, 255, 0.8) 4.81%, rgba(255, 255, 255, 0) 64%);
    margin-bottom: 10px;
    font-style: italic;
}
.section10 {
    background: linear-gradient(246.4deg, #00C584 -14.02%, rgba(0, 197, 132, 0) 48.09%);
    margin-bottom: 10px;
}
.section8 p, .section9 p {
    align-items: center;
}
.section10 p {
    margin-left: 30px;
}
.section8 b, .section9 b, .section10 b {
    margin-left: 60px;
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
    width: 100px;
    height: 50px;
}
.section11 {
    border: 1px solid gray;
    width: 100%;
    height: 220px;
}
.section11 h3 {
    margin-left: 20px;
}
li {
    font-size: 16px;
}
ul {
    list-style: none; /* Remove default bullets */
  }
ul li::before {
  content: "\2022";
  color: red;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}
/* beginning of responsiveness */
@media screen and (max-width:780px) {
  html,body {
    margin:0;
    padding:0;
    overflow-x:hidden;
}
/* body { 
    min-height: 100vw; 
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 5px;

} */
header {  
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    /* justify-content: space-around; */
    width: 100%;
    margin-left: 0px;
    justify-content: space-around;
    align-items: center;
    /* padding: 0.8em 0em; */
  }
  /* .logo {
      margin-left: 0px;
  } */
  .search-box input[type=search] {
    padding: 1em 3em;
} 
.search-box {
    display: none;
}
.header-icons {
    /* position: absolute;
    margin-left: 300px;
    display: inherit; */
    display: none;
}
.dashboard-container {
    /* flex-direction: column; */
    display: none;
}
/* .no-dropdown {
    display: block;
} */
.navbar {
    display: block;

}
.dropdown {
    /* display: flex;
    flex-direction: column; */
    display: inline;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 98%;
    font-size: 22px;
    font-weight: none;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 0;
}

* Links inside the dropdown */
      .dropdown-content a {
        text-decoration: none;
        display: block;
    
      }
      
      /* Show the dropdown menu on hover */
      .dropdown:hover .dropdown-content {
        display: block;
        background-color: #00c5b4;
      }
      
        /* The dropdown container */
      .dropdown {
        float: left;
        overflow: hidden;
      }
      
      /* Dropdown button */
      .dropdown .dropbtn {
        border: none;
        outline: none;
        background-color: inherit;
      }
       /* Add a background color to navbar links on hover */
       .navbar a:hover {
        background-color: #00c5b4;
       }
      .dash-image, .dash-support, .dash-logout {
            padding: 0em;
      }
      .dash-image h3, .dash-support h3, .dash-logout h3 {
          font-size: 16px;
      }
    



.middle-container {
    flex-direction: column;
}
.welcome-container {
    width: 96%;
    align-items: center;
    margin-left: -25px;
}

.main-content {
    align-items: flex-start;
}
.cards {
   justify-content: space-evenly;
    flex-wrap: wrap;
    margin-left: -10px;
}
.section1, .section2 {
    flex-basis: 50%;
    margin-bottom: 20px;
    width: max-content;
    /* margin-left: -15px; */
}
.section3 {
    flex-basis: 90%;
    width: max-content;
    margin-left: -2.5em;
    padding-left: .5em;
}
.column h1 {
    font-size: 60px;
}
.appointments {
    padding: 0px;
    padding-bottom: 20px;
    width: 94%;
    margin-left: -25px;
}
.apptonly {
    justify-content: center;
}
.section4, .section5, .section6 {
    margin-bottom: 20px;
}

.card-content2 h1 {
    margin-left: 9px;
}
.stars {
    margin-left: 25px;
}
  
    .signup-btn {
        margin-left: 100px;
    }
  
    .farright {
        /* width: 63%; */
    margin-left: auto;
    margin-right: auto;
    padding-right: 3em;
}
    }
    .section7 {
        margin-top: 10px;
       
        /* text-align: center; */
    }
    .section7 h4 {
        font-size: 30px;
    }

.section7 img {
    width: 50%;
    margin-top: 10%;
}
    .section7 p {
        /* margin-left: 0px; */
        text-align: unset;
    }
    /* .section8, .section9, .section10 {
        width: 135%;
    } */
    .section11 {
        /* width: 110%; */
        height: 200px;
        margin-bottom: 50px;
    }
    .section11 h3 {

        margin-left: 0px;
        padding-left: 5px;
    }
    
/* 1234 */
   