body {
	font-family: 'Red Hat Display', sans-serif;
	font-size: 16px;
	color: #000000;
    margin: 0px;
    width: 100%;
    height: 100vh;
}


/* .header {
    padding-left: 1em;
}
.img, .a {
    display: inline;
    vertical-align: middle;
}
.text-only {
    display: inline-block;
    vertical-align: middle;
}
#a .nav-logo, .logo-text {  
    color: black;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 400;
    text-decoration: none;
} */
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:rgb(245, 241, 241);
    padding-bottom: 10px;
  }
  .dropdown {
    display: none;
  }
  .navbar {
    display: none;
  }
  .logo {
      display: flex;
      align-items: center;
      text-decoration: none;
  }
 
  img{
    width:30px;
    padding-left: 5px;
  }
  h2{
    display: inline-block;
    font-size: 18px;
    color: #000000;
    padding-left: 8px;
  }
  
  .no-dropdown a {
    color: #000000;
    text-decoration: none;
    margin: 0 0 0 32px;
    /* transition: color 0.5s; */
    font-family: 'Red Hat Display', sans-serif;
   
    padding: 3px;
  }
  /* .no-dropdown a {
     font-weight: bold;
  } */
  .no-dropdown a:hover {
    background-color: #00c5b4;
    color: white;
    font-size: 18px;
  }
  .no-dropdown .selected {
    background-color: #00c5b4;
    color: white;
    font-size: 18px;
  }
  .no-dropdown .selected, .no-dropdown a {
    border-radius: 7px;
    padding: 10px;
    margin-right: 1em;
    font-weight: bold;
  }
/* heading */
.tab-switch {
    display: flex;
    justify-content: center;
  }
  
  .tab-wrapper ul {
    margin-bottom: 0px;
    margin-top: 50px;
    padding-left: 0px;
    list-style: none;
    }
    .tab-wrapper li {
        display: inline-block;
    }
  
    .tab-wrapper a {
        text-decoration: none;
        font-weight: 600;
        /* color: gray; */
        padding-bottom: 0.5em;
    }
  
        .patient-link {
          border-bottom: 3.5px solid #00c5b4;
          margin-right: 20px;
          color: #000000;
          /* background-color: rgb(39, 196, 180, 0.7); */
          /* border: 2px solid #00c5b4; */
          /* margin-bottom: 12.5px; */
          /* padding: 15px 89px 15px 10px; */
          border-radius: 0px;
        }
        .patient-link a {
            color: #000000;
            background-color: #00c5b4;
            color: white;
            font-size: 18px;
        }
  
        .doc-link {
            border-bottom: 3.5px solid #c3c7d2;
          /* background-color: rgb(225, 223, 223); */
          /* border: .5px solid; */
          border-color: rgb(179, 177, 177);
          /* padding: 15px 87px 15px 10px; */
          border-radius: 0px;
        }
        .doc-link {
            color: #000000;
        }
  
        /* .doc-link:hover {
          border-bottom: 3.5px solid #f3ea12;
        } */

/* heading */

.flex-container {
    display: flex;
}
.container {
    text-align: center;
}
.img, .doc-img {
    margin-top: 88px;
    max-width: 80%;
    /* margin-left: 110px; */
    width: 100%;
}
.signup-heading  {
    margin-top: -30px;
    /* margin-left: 3em; */
    font-size: 40px;
    font-weight: bold;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 600;
}
*:focus {
    outline: none;
}
input:focus{
    background-color: rgb(178, 240, 226); 
}
.name-container {
    display: flex;
    font-family: 'Red Hat Display', sans-serif;
    justify-content: space-between;
}
.fname {
    /* background-color:rgb(245, 241, 241);
    border: 1px solid;
    border-color: rgb(223, 222, 222);
    border-radius: 7px;
    font-size: 15px; */
    border-color: rgb(223, 222, 222);
     background-color: rgb(245, 241, 241);
    /* padding-bottom: 15px;
    padding-right: 50px;
    padding-left: 5px; */
    margin-bottom: 10px;
    margin-top: 4px;
    margin-left: -18px;
    margin-right: 10px;
    border: 1px solid;
    border-color: rgb(223, 222, 222);
    border-radius: 7px;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 17px;
    width: 98%;
    padding: 0.5em;
}
/* .fname {
    padding-left: 6px; 
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 20px;
     margin-right: -20px;
    margin-bottom: 20px;
} */
.lname {
    /* background-color:rgb(245, 241, 241);
    border: 1px solid;
    border-color: rgb(223, 222, 222);
    border-radius: 7px;
    font-size: 15px; */
    border-color: rgb(223, 222, 222);
     background-color: rgb(245, 241, 241);
    /* padding-bottom: 15px;
    padding-right: 50px;
    padding-left: 5px; */
    margin-bottom: 10px;
    margin-top: 4px;
    margin-right: 10px;
    border: 1px solid;
    border-color: rgb(223, 222, 222);
    border-radius: 7px;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 17px;
    width: 90%;
    padding: 0.5em;
}
/* .lname {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 5px; 
    padding-right: 20px;
    margin-left: 58px;
    margin-bottom: 20px;
} */

.phone, .email2, .cpwd {
    background-color: rgb(245, 241, 241);
    /* padding-bottom: 15px;
    padding-right: 277px;
    padding-left: 5px; */
    margin-bottom: 10px;
    margin-top: 4px;
    margin-left: -30px;
    border: 1px solid;
    border-color: rgb(223, 222, 222);
    border-radius: 7px;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 17px;
    width: 97.5%;
    padding: 0.5em;
}

.pass, .check-box{
    font-size: 20px;
    text-align: justify;
}
.fname:hover, .lname:hover, .phone:hover, .email2:hover, .cpwd:hover {
    /* background-color:rgb(178, 240, 226); */
    border-color: rgb(178, 240, 226);
  }
  .signup-btn:hover {
    background-color: rgb(178, 240, 226);
   
  }
 .signup-btn  {
    background-color: rgb(42, 199, 183);
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 12px;
    padding-top: 12px;
    border: transparent;
    /* margin-left: 105px; */
    font-size: 14px;
    border-radius: 5%;
    font-weight: bold;
    font-size: 17px;
}
@media only screen and (max-width: 768px) {
    .doc-img {
        display: block;
        margin-left:auto;
        margin-right: auto;
        margin-top: -12px;
        margin-bottom: -15px;
         /* max-width: 60%; */
        width: 100%;
    } 
    header {  
        display: flex;
        width: 100%;
        margin-left: 0px;
        justify-content: space-around;
        align-items: center;
        padding: 0.8em 0em;
      }
      header .dropdown {
       display: inline;
     }
     header .no-dropdown {
       display: none;
     }
     header a {
        width: fit-content;
        text-decoration: none;
        margin: 10px;
        padding: 0px;
        margin-top: 10px;
    }
     .navbar {
       display: block;
     }
   /* Dropdown content (hidden by default) */
   .dropdown-content {
     display: none;
     position: absolute;
     width: 100%;
     /* height: 360px; */
     font-size: 22px;
     font-weight: none;
     border-radius: 15px;
     background-color: #fff;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 1;
     left: 0;
   }
   /* Links inside the dropdown */
   .dropdown-content a {
     float: none;
     color: black;
     padding: 16px 8px;
     text-decoration: none;
     display: block;
     /* text-align: center; */
     margin-left: auto;
     margin-right: auto;
   }
   
   /* Show the dropdown menu on hover */
   .dropdown:hover .dropdown-content {
     display: block;
   }
   
   
      /* The dropdown container */
   .dropdown {
     float: left;
     overflow: hidden;
   }
   
   /* Dropdown button */
   .dropdown .dropbtn {
     border: none;
     outline: none;
     background-color: inherit;
   }
   
   /* Add a background color to navbar links on hover */
   .navbar a:hover {
     background-color: #00c5b4;
   }
   
   
     
      /* header img{
          
          width:40px; 
          margin-left: 146px;
      } */
   
      /* header h2{
          margin-left: 10px;
          margin-right: 0px;
          margin-top: 28px;
          margin-bottom: auto;
          font-size: 18px;
      } */
    
      header a {
         display: block;
          width:fit-content;
          text-decoration: none;
          margin: 10px;
          padding: 0px;
          margin-top: 10px;
      }
   .tab-wrapper {
       display: none;
   }
    .signup-heading  {
        /* margin-left: 6.5em; */
        font-size: 20px;
    } 
    .flex-container {
       flex-direction: column;
       align-items: flex-start;
       padding-bottom: 0px;
    }
    .container {
        padding-top: 50px;
        margin-left:auto;
        margin-right: auto;
     }
     .name-container {
         display: block;
         flex-direction: row;
     }
     .fname, .lname {
        width: 90%;
         margin-left: 14px;
         /* padding-right: 157px; */
     }
    
     .phone, .email2, .cpwd {
        margin-left: 12px;
        width: 90%;
         /* padding-right: 157px; */
         /* margin-left: 18px; */
         /* margin-bottom: 10px; */
        
     }
     .pass {
        font-size: 12px;
        margin-left: 18px;
    }
    .check-box{
        font-size: 15px;
        margin-left: 13px;
        margin-bottom: -10px;
    }
    .signup-btn  {
       margin-bottom: 14px;
       margin-left: 0px;
       padding-bottom: 8px;
       padding-top: 8px;
    }
    /*abc*/
    
 }
 @media only screen and (min-width: 1470px) {
    
    .img, .doc-img {
        /* display: block;
        margin-left:auto;
        margin-right: auto;
        margin-top: -12px;
        margin-bottom: -15px; */
         max-width: 100%; /*90% */
        /* width: 100%; */
    } 
    .signup-heading  {
        /* margin-left: 6.5em; */
        font-size: 50px;
    } 
    .flex-container {
       /* flex-direction: column; */
       align-items: flex-start;
       padding-bottom: 0px;
    }
    .container {
        padding-top: 50px;
        margin-left:auto;
        margin-right: auto;
     }
     .name-container {
         display: block;
         flex-direction: row;
     }
     .fname, .lname, .phone, .email2, .cpwd {
         font-size: 30px;
     }
     /* .fname, .lname { */
        /* margin-left: -26px;  */
         /* width: 115%;   */
    
    
   .fname {
       margin-left: 0px;
   }
   .lname {
       width: 97.5%;
   }
    .phone, .email2, .cpwd {
        margin-left: 0px;
        margin-bottom: 10px;
        /* width: 90%; */
       
    }
     .pass {
        
        margin-left: 18px;
    }

    .check-box{
        /* font-size: 15px; */
        margin-left: 13px;
        margin-bottom: -10px;
    }
    .signup-btn  {
       margin-bottom: 14px;
       /* margin-left: 85px; */
       padding-bottom: 8px;
       padding-top: 8px;
    }
    /*abc*/
    
 }
/* @media only screen and (max-width: 1024px) {
    .img, .doc-img {
        display: block;
        margin-left:auto;
        margin-right: auto;
        margin-top: -12px;
        margin-bottom: -15px;
        max-width: 60%;
        width: 100%;
    } 
    .signup-heading  {
        margin-left: 6.5em;
        font-size: 20px;
    } 
    .flex-container {
       flex-direction: column;
       align-items: flex-start;
       padding-bottom: 0px;
    }
    .container {
        padding-top: 50px;
        padding-left: 15px;
        
     }
     .name-container {
         display: block;
         flex-direction: row;
     }
     .fname {
         margin-bottom: 10px;
         margin-left: 18px;
         padding-right: 122px;
     }
    .lname {
         margin-left: 0px;
         margin-bottom: 10px;
         margin-left: 18px;
         padding-right: 122px;
     }
     
     .phone, .email2, .cpwd {
         padding-right: 141px;
         margin-left: 18px;
         margin-bottom: 10px;
        
     }
     .pass {
        font-size: 12px;
        margin-left: 18px;
    }
    .check-box{
        font-size: 15px;
        margin-left: 13px;
        margin-bottom: -10px;
    }
    .signup-btn  {
       margin-bottom: 14px;
       margin-left: 85px;
       padding-bottom: 8px;
       padding-top: 8px;
    }

     
 } */
