@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');


 body {
	font-family: 'Red Hat Display', sans-serif;
	font-size: 16px;
	color: #000000;
	margin-top: 20px;
    margin-left:auto;
    margin-right:auto;
	width: 1250px;
	
}


header {
    display: flex;
    align-items: center;
    justify-content:space-between;
    
  }


 img{
     width:30px;
 }
  
  h2{
     margin-right:600px;
     
 }

  a {
    color: #000000;
    text-decoration: none;  
    margin: 0 0 0 32px;
    transition: color 0.5s;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: bold;
    
  }

  a:hover, a.selected{
   background-color:#00c5b4;
   color:white;
   padding:8px;
  }



  .section1{
      height:600px;
    
      background-image: url(/images/landing-page/image1.svg);

  }

  .section1 div{
    position:absolute;
    width:350px;
    margin-left:690px;
    background-color:white;
    margin-top:110px;
    padding-right:20px;
    padding-left:20px;
    background-repeat:no-repeat;
    background: rgba(300, 243, 243, 0.6);
    border-radius:6px;
    height:270px;

  }

  .section1 div, h1, p button {
      text-align:center;
  }

  .section1 button{
    width:100px;
    padding:7px;
    border:none;
    border-radius:6px;
    cursor:pointer;
    margin-top:30px;
  }

  .section1 .login{
    background-color:#00c5b4;
  }

  .section1 .signup{
      background-color:#8a8a8a;
  }



  .section2{
      margin-top:100px;
      display:grid;
      height:400px;
      grid-template-rows: 1fr;
      grid-template-columns:1fr 1fr;
      background-image:url(/photos/Rectangle\ 284\ \(2\).svg);
    background-repeat: no-repeat;
    background-size: 25%;
  }

  .section2 img{
      width:400px;
      margin-left:100px;
  }

  .section2 .text{
      margin-left:auto;
      margin-right:auto;
      width:400px;
  }

  .section2 h3{
      text-align:center;
      text-decoration:underline;
    text-decoration-color:#00c5b4;
    text-decoration-thickness: 4px;
  }

  .section2 button{
    background-color:#00c5b4;
    width:100px;
    padding:7px;
    border:none;
    border-radius:6px;
    cursor:pointer;
    margin-left:300px;
    margin-top:20px; 
  }



.features{
    margin-top:80px;
    text-decoration:underline;
    text-decoration-color:#00c5b4;
    text-decoration-thickness: 4px;
}

  .section3{
    display:grid;
    margin-top:40px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:1fr;
  }

.section3 img{
    width:200px;
    height:200px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.section3 h3{
    width:300px;
    margin-left:100px;
}

.section3 p{
   width:300px;
   margin-left:100px;
}


.section4{
    display:grid;
    margin-top: 150px;
    grid-template-columns: 1fr 3fr  3fr 1fr;
    grid-template-rows:1fr;
}


.section4 img{
    width:250px;
    margin-top:30px;

}

.section4 button{
    margin-left:100px;
    margin-right:100px;
    margin-top:200px;
    padding:5px;
    background-color:#00c5b4;
    border-style:none;
    width:30px;
}

.section4 .text h1{
    margin-right:300px;
    text-decoration:underline;
    text-decoration-color:#00c5b4;
    text-decoration-thickness: 4px;
}
  



.reviews{
    text-decoration:underline;
    text-decoration-color:#00c5b4;
    text-decoration-thickness: 4px;
    margin-top:130px;
}


.section5{
    display:grid;
    grid-template-columns: 1fr 3fr  3fr 1fr;
    grid-template-rows:1fr;
}


.section5 img{
    width:250px;
    margin-top:30px;

}

.section5 button{
    margin-left:100px;
    margin-right:100px;
    margin-top:200px;
    width:30px;
    padding:5px;
    background-color:#00c5b4;
    border-style:none;
}

.section5 .text h3{
    margin-right:300px;
    margin-top:70px;
    
}

.section6{
    display:grid;
    margin-top:100px;
    grid-template-rows: 1fr;
    grid-template-columns:1fr 1fr;
    
}

.section6 img{
    width:200px;
    margin-left:170px;
    margin-top:20px;
}

.section6 .text{
    width:400px;
    margin-left:170px;
    margin-top:60px;
}

.section6 .text, h1{
    margin-right:70px;
}


.section6 .apple{
    background-color:#00c5b4;
    cursor:pointer;
    border:none;
    padding:7px;
    border-radius: 5px;
    margin-top:20px;
    
}

.section6 .google{
    background-color:#8a8a8a;
    cursor:pointer;
    border:none;
    padding:7px;
    border-radius: 5px;
    margin-left:20px;
}


.section7{
    display:grid;
    height:500px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    margin-top:140px;
    background-image:url(/photos/Rectangle\ 311.svg);
    background-repeat: no-repeat;
    background-size: 25%;
    
}

.section7 img{
    width:300px;
    margin-left:180px;
    margin-top:90px;
    
}

.section7 .form{
    margin-left:180px;
    width:400px;
    margin-top:90px;
}

.section7 input{
    padding:6px;
}

#fname, #last-name{
    width:150px;
}

#enter-email{
    width:320px;
    margin-top:10px;
    
}

#message{
    width:320px;
    margin-top:10px;
}

#checkbox{
    margin-top:10px;
}

.section7 button{
    margin-top:30px;
    background-color:#00c5b4;
    padding:7px;
    width:100px;
    cursor:pointer;
    border:none;
}

.section7 .contact{
    text-decoration:underline;
    text-decoration-color:#00c5b4;
    text-decoration-thickness: 4px;
}




.section8{
   
    height:200px;
    text-align: center;
    margin-top:100px;
}




.section8 h1 span{
    text-decoration:underline;
    text-decoration-color:#00c5b4;
    text-decoration-thickness: 4px;
}


#first-name{
    width:300px;
    padding:7px;
}

#email{
    margin-top:10px;
    width:300px;
    padding:7px;
}

.section8 button{
    margin-top:40px;
    width:200px;
    padding:5px;
    border-radius: 5px;
    background-color: #00c5b4;
    border-style: none;
}




.section9{
    margin-top:200px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-left:50px;
    margin-right:50px;

}

.section9 .empr-logo{
    width:30px;
}


.section9 span{
   

}

.twitter, .instagram, .facebook{
    width:25px;
}

.last{
    display:flex;

}

.last p{
    margin-right:30px;
}

.last .twitter{
    margin-right:10px;
}

.last .instagram{
    margin-right:10px;
}

.logo{
    display:flex;
}

.logo h3{
    margin-left:10px;
}


footer{
 padding:30px;
background-color:#78F0E6;
height:310px;
display:grid;
grid-template-columns:1fr 1fr 1fr;
grid-template-rows: 1fr;
}

.icons img{
    width:25px;
    
}