@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');


 body {
	font-family: 'Red Hat Display', sans-serif;
	font-size: 16px;
	color: #000000;
	margin-top: 20px;
    margin-left:auto;
    margin-right:auto;
	width: 1250px;
	
}


header {
    display: flex;
    align-items: center;
    justify-content:space-between;

  }

 img{
     width:30px;
 }
  
  h2{
     margin-right:600px; 
     font-size: 18px;
 }

  a {
    color: #000000;
    text-decoration: none;  
    margin: 0 0 0 32px;
    transition: color 0.5s;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: bold;
    padding:3px;
    
  }

  a:hover, a.selected{
   background-color:#00c5b4;
   color:white;
   
  }



  .section1{
      height:600px;
    
      background-image: url(/images/landing-page/image1.svg);

  }

  .section1 div{ 
    position:absolute;
    width:350px;
    margin-left:690px;
    background-color:white;
    margin-top:110px;
    padding-right:20px;
    padding-left:20px;
    background-repeat:no-repeat;
    background: rgba(300, 243, 243, 0.6);
    border-radius:6px;
    height:270px;
  } 


  .section1 div, h1, p button {
    text-align: center;
  }

  

  .section1 button{
    width:100px;
    padding:10px;
    border:none;
    cursor:pointer;
    border-radius:6px;
    margin-top:30px;
    font-size:16px;
    font-weight: bold;
    font-family: 'Red Hat Display', sans-serif;
    
  }


  .section1 .login:hover{
      background:#78F0E6;
      transition: 0.5s;
  }

  .section1 .signup:hover{
      background:lightgray;
      transition: 0.5s;
  }

  .section1 .login{
    background-color:#00c5b4;
  }

  .section1 .signup{
      background-color:#8a8a8a;
      margin-left:30px;
  }



  .section2{
      margin-top:100px;
      display:grid;
      height:400px;
      grid-template-rows: 1fr;
      grid-template-columns:1fr 1fr;
      background-image:url(/photos/Rectangle\ 284\ \(2\).svg);
    background-repeat: no-repeat;
    background-size: 25%;
  }

  .section2 img{
      width:400px;
      margin-left:100px;
  }

  .section2 .text{
      margin-left:auto;
      margin-right:auto;
      width:400px;
      
  }

  .section2 h3{
      text-align:center;
      text-decoration:underline;
    text-decoration-color:#00c5b4;
    text-decoration-thickness: 4px;
  }

  .section2 button{
    background-color:#00c5b4;
    width:110px;
    padding:10px;
    border:none;
    border-radius:6px;
    cursor:pointer;
    margin-left:300px;
    margin-top:20px; 
    font-size:16px;
    font-weight:bold;
    font-family: 'Red Hat Display', sans-serif;
  }

  .section2 button:hover{
      background-color: #78F0E6;
      transition:0.5s;
  }



.features{
    margin-top:80px;
    text-decoration:underline;
    text-decoration-color:#00c5b4;
    text-decoration-thickness: 4px;
}

  .section3{
    display:grid;
    margin-top:40px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:1fr;
  }

.section3 img{
    width:200px;
    height:200px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.section3 h3{
    width:300px;
    margin-left:100px;
}

.section3 p{
   width:300px;
   margin-left:100px;
}


.section4{
    display:grid;
    margin-top: 150px;
    grid-template-columns: 1fr 3fr  3fr 1fr;
    grid-template-rows:1fr;
}


.section4 img{
    width:250px;
    margin-top:30px;

}

.section4 button{
    margin-left:100px;
    margin-right:100px;
    margin-top:200px;
    padding:5px;
    background-color:#00c5b4;
    border-style:none;
    width:30px;
    cursor:pointer;
    font-size:16px;
    font-weight:bold;
}

.section4 button:hover{
        background-color: #78F0E6;
        transition:0.5s;
    }





.section4 .text h1{
    margin-right:300px;
    text-decoration:underline;
    text-decoration-color:#00c5b4;
    text-decoration-thickness: 4px;
}
  



.reviews{
    text-decoration:underline;
    text-decoration-color:#00c5b4;
    text-decoration-thickness: 4px;
    margin-top:130px;
}


.section5{
    display:grid;
    grid-template-columns: 1fr 3fr  3fr 1fr;
    grid-template-rows:1fr;
}


.section5 img{
    width:250px;
    margin-top:30px;

}

.section5 button{
    margin-left:100px;
    margin-right:100px;
    margin-top:200px;
    width:30px;
    padding:5px;
    cursor:pointer;
    background-color:#00c5b4;
    border-style:none;
    font-size:16px;
    font-weight:bold;
}

.section5 button:hover{
    background-color: #78F0E6;
    transition:0.5s;
}

.section5 .text h3{
    margin-right:300px;
    margin-top:70px;
    
}

.section6{
    display:grid;
    margin-top:100px;
    grid-template-rows: 1fr;
    grid-template-columns:1fr 1fr;
    
}

.section6 img{
    width:200px;
    margin-left:170px;
    margin-top:20px;
}

.section6 .text{
    width:400px;
    margin-left:170px;
    margin-top:60px;
}

.section6 .text, h1{
    margin-right:70px;
}


.section6 .apple{
    background-color:#00c5b4;
    cursor:pointer;
    border:none;
    padding:10px;
    border-radius: 5px;
    margin-top:20px;
    width:100px;
    font-family: 'Red Hat Display', sans-serif;
    font-weight:bold;
    font-size:16px;
    width:fit-content;
}


.section6 .apple:hover{
    background-color: #78F0E6;
    transition:0.5s;
}

.section6 .google{
    background-color:#8a8a8a;
    cursor:pointer;
    border:none;
    padding:10px;
    border-radius: 5px;
    margin-left:20px;
    width:fit-content;
    font-family: 'Red Hat Display', sans-serif;
    font-weight:bold;
    font-size:16px;

}

.section6 .google:hover{
        background-color:lightgray;
        transition:0.5s;
    }




.section7{
    display:grid;
    height:500px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    margin-top:140px;
    background-image:url(/photos/Rectangle\ 311.svg);
    background-repeat: no-repeat;
    background-size: 25%;
    
}

.section7 img{
    width:300px;
    margin-left:180px;
    margin-top:90px;
    
}

.section7 .form{
    margin-left:180px;
    width:400px;
    margin-top:90px;
}

.section7 input{
    padding:10px;
    border-radius: 5px;
    border-width: 1px;
    border-style:solid;
}

#fname, #last-name{
    width:146px;
}

#enter-email{
    width:320px;
    margin-top:10px;
    
}

#message{
    width:320px;
    margin-top:10px;
}

#checkbox{
    margin-top:10px;
}

.section7 button{
    margin-top:30px;
    background-color:#00c5b4;
    padding:10px;
    width:100px;
    cursor:pointer;
    border:none;
    border-radius:5px;
    font-weight:bold;
    font-size:16px;
    font-family: 'Red Hat Display', sans-serif;
}

.section7 button:hover{
        background-color: #78F0E6;
        transition:0.5s;
    }


.section7 .contact{
    text-decoration:underline;
    text-decoration-color:#00c5b4;
    text-decoration-thickness: 4px;
}




.section8{

    height:200px;
    text-align: center;
    margin-top:100px;
}




.section8 h1 span{
    text-decoration:underline;
    text-decoration-color:#00c5b4;
    text-decoration-thickness: 4px;
    
}

.section8 h1{
    margin-left:70px;
}




#first-name{
    width:300px;
    padding:7px;
    padding:10px;
    border-radius: 5px;
    border-width: 1px;
    border-style:solid;
}

#email{
    margin-top:10px;
    width:300px;
    padding:7px;
    padding:10px;
    border-radius: 5px;
    border-width: 1px;
    border-style:solid;
}

.section8 button{
    margin-top:40px;
    width:100px;
    padding:10px;
    border-radius: 5px;
    background-color: #00c5b4;
    border-style: none;
    font-size:16px;
    font-weight:bold;
    font-family: 'Red Hat Display', sans-serif;
    
}

.section8 button:hover{
    cursor:pointer;
    background-color: #78F0E6;
    transition:0.5s;
}


.section9{
    margin-top:200px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-left:auto;
    margin-right:auto;
    background-color:lightgray;
    width: 1250px;

}

.section9 .empr-logo{
    width:30px;
    margin-left:30px;
}

.section9 b:hover{
    cursor:pointer;
    text-decoration: underline;
}




.twitter, .instagram, .facebook{
    width:25px;
    margin-right:30px;
}

.twitter:hover, .instagram:hover, .facebook:hover{
    cursor: pointer;
    
}

.last{
    display:flex;

}

.last p{
    margin-right:30px;
}

.last .twitter{
    margin-right:10px;
}

.last .instagram{
    margin-right:10px;
}

.logo{
    display:flex;
}

.logo h3{
    margin-left:10px;
}


footer{
 padding:30px;
background-color:#78F0E6;
height:250px;
display:grid;
grid-template-columns:1fr 1fr 1fr 1fr;
grid-template-rows: 1fr;
line-height:2.0;
}

.icons img{
    width:65px;
    
}

.footer1 img{
    width:60px;
}

footer p{
    line-height:1.5;
  
}

footer p:hover{
    cursor:pointer;
    transition:0.2s;
    font-weight: bold;
    
}


.section1 h1{
    width:300px;
    margin-left:auto;
    margin-right:auto;
}









@media (max-width: 600px) {

body{
    width:350px;
    overflow-x: hidden;
}

   header{
       display:grid;
   }

   header img{
       margin-top:10px;
       width:50px;
       margin-left:230px;
   }

   header h2{
       font-size: 30px;
       margin-left:150px;
       width:400px;
   }

   header a {
      
       width:430px;
       text-decoration:underline;
       font-size: 20px;
       margin-top:5px;
   }


   .section1 div {
    position: absolute;
    width: 300px;
    margin-left: 50px;
    /* margin-right: auto; */
    background-color: white;
    /* padding-right: 20px; */
    /* padding-left: 20px; */
    /* background-repeat: no-repeat; */
    background: rgba(300, 243, 243, 0.8);
    border-radius: 6px;
    height: 350px;

}

.section1 div h1{
    font-size:30px;
    
   
    
}

.section1 div p{
    font-size:20px;
}

.section1 {
    width:450px;
    background-image: url(/images/landing-page/image1.svg);
    background-size: 900px;
    background-position: center;
    background-repeat:no-repeat;
    margin-left:20px;
    
    margin-top:20px;
   
}

.section1 button{
    margin-top:0px;
    font-size:16px;
}


.section2{
  grid:none;
  margin-top:0px;
  margin-left:30px;
}

.section2 h3{
    font-size: 40px;
}

.section2 p{
    font-size:20px;
    line-height:1.5;
}

    .section2 button {
        background-color: #00c5b4;
        width: 110px;
        padding: 7px;
        border: none;
        border-radius: 6px;
        font-size:18px;
}

 



.section2 .image{
    display:none;
    
    
}


.features{
    margin-top:300px;
    font-size:40px;
    
}

.section3 {
    grid:none;

}



.section3 h3{
    font-size:20px;
    
}

.section3 p{
    font-size:20px;
    
}




    .section4 {
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 10px;
        margin-right:10px;


}

.section4 .button1{
    display:none;
}

.section4 h1{
    font-size:40px;
    
}

.section4 h3{
    font-size:20px;
    
}

.section4 p{
    font-size:20px;
}

.map-photo{
    display:none;
}

.section4 button {
    margin-left: 300px;
    margin-top:5px;
    padding: 7px;
    background-color: #00c5b4;
    border-style: none;
    width: 60px;
    font-size: 20px;
    font-weight:bold;
    border-radius: 5px;
}



    .section5 {
        display: grid;
        grid-template-columns: 1fr;
        /* margin-left: 50px; */
        margin-left: 10px;
        width: 400px;   
        }

.section5 .button1{
    display:none;
}

.reviews{
    font-size:40px;
    margin-left:150px;
    
}

.section5 .text h3{
    font-size:20px;

    
}

.section5 p{
    font-size:20px;
}

.section5 button {
    margin-left: 300px;
    margin-top:5px;
    padding: 7px;
    background-color: #00c5b4;
    border-style: none;
    width: 60px;
    font-size: 20px;
    font-weight:bold;
    border-radius: 5px;
}

.section5 .text h3 {
    margin-right: 300px;
    margin-top: 5px;
}


.section6 {
    display: grid;
    margin-top: 100px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

.section6 .text {
    width: 400px;
    margin-left: 0px; 
     margin-top: 0px;
     margin-top:50px;
     font-size:20px;
}

.section6 h1{
    width:400px;
    
    

}

.section6 p, .section6 h3{
    margin-left:30px;
}

.section6 img{
    display:none;
    
}



.apple, .google{
    margin-left: 70px;
    font-size:18px;
    width:120px;
   
}




.section7 {
    display:grid;
    margin-bottom:1000px;
    height:0px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    background-repeat: no-repeat;
    
}

#checkbox{
    margin-top:30px;
    width:fit-content;

}

.form1 h1{
    font-size:40px;
    
    
}


.section7{
    height:120px;
}



.section7 .form {
    margin-left: 50px; 
    width: 400px;
    margin-top: 80px;
    font-size: 20px;
}

.section7 img{
    margin-right:100px;
    margin-left:100px;
}

.section7 button{
    padding:10px;
    font-size:20px;
    width:100px;
}

#fname, #last-name, #enter-email, #message{
    font-size:20px;
    margin-top:20px;
}

.form label{
    font-size:20px;
    
}


    

.section8{
    margin-left:30px;
    height:400px;
    
    
}

.section8 #first-name, .section8 #email{
    font-size:20px;
    margin-top:20px;
    margin-left:30px;
}


.section8 button{
    padding:10px;
    font-size:20px;
    width:100px;
    margin-left:100px;
    
}

.section8 h1{
    margin-left:40px;
    width:300px;
    font-size: 40px;
    margin-top:200px;
}

.section9 {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 100px;
    flex-direction: column;
    width:450px;
    font-size: 20px; 
}

.section9 .logo{
    margin-left:10px;
    margin-right:40px;
}



footer {
    padding:0px;
    background-color: #78F0E6;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    grid-gap: 30px;
    margin-left: 20px;
    margin-right:auto;
    width: 450px;
    font-size:16px;
}




.footer1, .footer2, .footer3 .footer4{
    margin-top:10px;
}

.footer1{
    margin-left:20px;
}

.footer2{
    margin-left:20px;
}

.footer3{
    margin-left:20px;
}

footer p:hover{
    cursor:pointer;
    text-decoration: underline;
    transition:0.5s;
}

.features{
    margin-top:300px;
    font-size:40px;
    margin-left:150px;
   
}

.section5 h3{
    margin-left:185px;
    width:200px;
}

.section5 p{
    width:500px;
}

.section4 p{
    width:500px;
}

.section4 h1{
    margin-left:150px;
}



.section6 {
    
    margin-left:3em;
    margin-right:3em;
    
}

.section6 button{
    margin-left:auto;
}

.section6 .apple{
 font-size:20px;
 
 


}

.section6 .google{
    font-size:20px;
    
}




.section7 .form{
 margin-left:80px;
}

.section7 button{
    margin-left:100px;
    width:150px;
}

.section8 {
    margin-top:150px;
    margin-left:60px;
}


.section8 input{
    margin-left:70px;
}

.section8 button{
width:150px;

}

.section1 .login{
    width:150px;
    
    
}

.section1 .signup{
    width:150px;
    margin-top:20px;
    margin-right:30px;
}

.section1 div{
    height:400px;
}


.section2 button{
    margin-left:130px;
}

.section2 .text button{

width:150px;
margin-right:200px;
padding:10px;
}



}
