

:root{
    --sidebar-bg-color:  #00C5B480;
    --appointments-bg-color:  #00C5B438;
    --total-visits-bg-color:  #78F0E642;
    --notifications-bg-color:  #00C5B466;
    --cancelled-app-bg-color: #00C5B438;
    --text-color: #333333;
    --radius-border:15px;
    --searchbox-bg-color:#8A8A8A66;

}

body{
    width: 100%;
    height: 100vh;
    padding: 0%;
    margin: 0%;
    font-family: 'Red Hat Dislay';
}

div.body-Container{
    width: 100%;
    display: grid;
    grid-template-columns: 30px 1fr 2fr 1fr 1fr 20px ;
    grid-template-rows: 100px 5% 15% 20% 40% 10%;
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: var(--text-color);
    line-height: 21px;
    position: relative;
}

header#top-container{
    grid-column-start: 2 ;
    grid-column-end:7 ;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Red Hat Display', sans-serif;
    background-color: white;
    z-index: 1;
    position: fixed;
    padding: 1em 0em;

}
aside.left-container{
    background-color: var(--sidebar-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 5%;
    border-radius: var(--radius-border);
    width: 20%;
    height: 94%;
    font-size: 16px;
    font-weight: 500;
    position: fixed;
    top:10%;
    left:0%;
    padding-top: 5%;
  
}
main.middle-container{
    background-color: white;
    grid-column-start: 3 ;
    grid-column-end: 5 ;
    grid-row-start: 2 ;
    grid-row-end: 6 ;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content:start;
    width: 100%;
    height: 100%;
    margin-left: 10px;
    padding-left: 10%;
}
aside.right-container{
    grid-column-start: 5 ;
    grid-column-end: 6 ;
    grid-row-start: 2 ;
    grid-row-end: 5 ;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   padding-left: 30px;
   width: 300px;

}


img.icon-leftcontainer{
    background-color: transparent;
    margin-right: 10px;
}
 li {
    list-style: none;
}
a{
    text-decoration-line: none;
    color: var(--text-color);
}
div.top-menu-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
ul.top-menu-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
a.nav-btns{
    margin: 0 10px;
}
a.sidebar-link{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    padding-bottom: 3.4em;
}


div.my-profile-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;
    height: 125px;
}
div.appointments-container{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    border-radius: 5px;
    background-color: var(--appointments-bg-color);
    margin-bottom: 15px;
    height: 125px;
    
}

div.cancelled-app-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
    background-color: var(--cancelled-app-bg-color);
    margin-bottom: 15px;
    height: 125px;
}
div.numVisits-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
    background-color: var(--total-visits-bg-color);
    margin-bottom: 8px;
    height: 125px;
}
div.notifications-contianer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
    background-color: var(--notifications-bg-color);
    height: 200px;
}
img.profile-pic{
    height: 50px ;
    width:50px;
}

input#search-box{
    background-color: var(--searchbox-bg-color);
    padding: 8px;
    border-radius: 5px;
    box-sizing: border-box;
    border:none;
    background-image: url(/images/admin-images/search.svg);
    background-repeat: no-repeat;
    background-size: 70% 70%;
    background-position-x: 270px;
    background-position-y: center;
    width: 450px ;
    height: 35px;
    /**/
}
#message-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 200px;
}


/* gits rid of "X" from input type search box*/
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}
/* gits rid of "X" from input type search box*/
div.a-logo{
    padding: 8px;
    padding-left: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 28px;
}

img.a-logo{
    width: 50px;
    margin-right: 10px;
}
div.top-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    padding-right: 20%;
}
a.nav-btns img{
    margin: 0 10px; 
    padding: 4px;
    border-radius: 5px;
    
}
.last-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 95%;
}
.last-section > a {
    width: 100%;
}
.last-section > a:hover{
    color: #00C5B4;
    cursor: pointer;
}
.last-section > #blue{
    position: relative;
    left: 100px;
}
a.nav-btns img:hover {
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px -7px rgba(0,0,0,0.21); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px -7px rgba(0,0,0,0.21);
    background-color: #00C5B4;
}
a.sidebar-link:hover{
    color: black;
    font-weight: bold;
}
input#search-button:hover {
    font-weight: bold;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px -7px rgba(0,0,0,0.21); 
   color: white;
    background-color: #00C5B4;
}
.menu-selectionNames:hover{
    color: white;
    font-weight: bold;
}

button#blue:hover{
    
    font-weight: bold;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px -7px rgba(0,0,0,0.21);
}
.right-container-headers{
    font-style: normal;
    font-weight:500;
    font-size: 21px;
    line-height: 20px;
}
span#all-locations{
   display: flex;
   flex-direction: column;
   align-items: center;
}
div.apps-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
}
ul.bullet-list-style{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
li.bullet-list-style{
   list-style-image:url(/images/admin-images/list-style.svg);

}

#message-content > p{
    font-size: 21px;
    line-height: 2;
}
#message-content > p span {
    font-size: 16px;
}



input#search-button{
    width: 10%;
    height: 27px;
    background: #00C5B4;
    border-radius: 5px;
    border: none;
}




tr:hover {background-color:var(--sidebar-bg-color);}
tr#no-hover, th:hover {
    background-color: white;
}




button{
    text-align: center;
    font-family: 'Red Hat Display';
    font-weight: 700;
    background: #00C5B4;
    border-radius: 5px;
    border: none;
    margin-top:15px;
    width: 90px;
    height: 30px;
}
button,
button > a:hover  {
    color: white;
    
}
#blue{
    background: #00C5B4;
    border-radius: 5px;
    color: black;
}

/*Mobile Design Hiddens HTML DISPLAY*/
.displayNone-dsktp{
    display: none;
}
#displayNone-dsktp{
    display: none;
}
nav.navbar{
    display: none;
}
.agreement-container{
    display: none;
}
#feedback-title{
    font-size: 34px;
}
/*Mobile Design Hiddens HTML DISPLAY END*/
/*HAMBURGER MENU STYLES*/

/*HAMBURGER MENU STYLES*/


@media screen and (min-width:601px)and (max-width:1199px) {
      aside.left-container{ display: none; width: 250px; padding: 10px; height: 100%;}
      main.middle-container {
          width: 100%;
          grid-column-start: 2 ;
          grid-column-end: 6 ;
          
        }
         h2#clinics-title{
            padding-right: 40%;
        }
      aside.right-container{
         display: none;
        }
        div.nxt-pg{
            width: 90%;
        }
      /*Hamburger Styling*/
      nav.navbar{
        display: block;
    }
    header#top-container{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        grid-column-start: 3;
        grid-column-end: 4;
        width: 100%;
        position: fixed;
        background-color: white;
        z-index: 1;
        font-family: 'red hat display', sans-serif;
    
    }
    div.top-icons{
        justify-content:right;
        padding-right: 0%;
    }
  
   
    a.nav-btns{
        margin: 0%;
    }
    .navbar{
        width: 300px;
        height: 100%;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        position: fixed;
        top: 0;
        left: -300px;
    }
    .change{
        padding: 8px;
        left: 0;
        background: #00C5B4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        height: 80%;
    }
    .nav-item{
        padding-bottom: 35px;
    }
    .hamburger-menu{
        width: 30px;
        height: 30px;
        padding: 10px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: fixed;
        top: 30px;
        left: 5%;
    }
    .change > .hamburger-menu{
        top: 9px;
        left: 230px;
    }
    
    .line{
        width: 100%;
        height: 3px;
        background-color:black;
        transition: all 0.8s;
    }
    .change .line-1{
        transform: rotate(-45deg) translate(-8px, 6px);
    }
    .change .line-2{
       opacity: 0;
    }
    .change .line-3{
        transform: rotate(45deg) translate(-8px, -6px);
    }
  
    .nav-list{
        text-align: left;
    }
    .nav-item{
        font-size: 21px;
    }
    .nav-link:hover{
        color: white;
        font-weight: bold;
    }
      /*Hamburger Styling END*/
    
}

/*mobile-design*/
@media  screen and (max-width:600px ) {
    div.body-Container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
      
        
    }
    /*Display None Desktop HTML*/
    aside.left-container{
        display: none;
    }
    aside.right-container{
        display: none;
    }
    .displayNone-mobile{
        display: none;
    }
    .search-box-container{
        display: none;
    }
    .displayNone-dsktp{
        display:contents;
    }
     
    .displayNone-dsktp{
        display: block;
    }
    
    /*Display None Desktop HTML END */

    main.middle-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0px;
        padding-left: 0px;
    }
    #message-content{
        margin-bottom: 150px;
        background: rgba(0, 197, 180, 0.35);
        border-radius: 5px;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
   
    #feedback-title{
        font-size: 18px;
        width: 90%;
    }
    
    
    #search-icon{
        padding: 5px;
    }
    #search-icon:hover{
        background: #00C5B4;
        border-radius: 5px;
       
    }
    #search-icon::after{
        background-color: none;
    }


        /*hamburger styling*/
        nav.navbar{
            display: block;
        }
        header#top-container{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 65%;
            margin-left: auto;
            position: relative;
            align-self: flex-end;
        }
        div.top-icons{
            justify-content:right;
            padding-right: 0%;
        }
        
    
        a.nav-btns{
            margin: 0%;
        }
        .navbar{
            width: 300px;
            height: 100%;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 8px;
            position: fixed;
            top: 0;
            left: -300px;
        }
        .change{
            padding: 8px;
            left: 0;
            background: #00C5B4;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            height: 80%;
        }
        .nav-item{
            padding-bottom: 35px;
        }
        .hamburger-menu{
            width: 28px;
            height: 28px;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            position: fixed;
            top: 20px;
            left: 40px;
            border-radius: 8px;
            padding: 5px;
          
        }
        .hamburger-menu::after{
            left: 230px;
        }
        .line{
            width: 100%;
            height: 2px;
            background-color:black;
            transition: all 0.8s;
        }
        .change .line-1{
            transform: rotate(-44deg) translate(-7px, 6px);
        }
        .change .line-2{
           opacity: 0;
        }
        .change .line-3{
            transform: rotate(45deg) translate(-8px, -6px);
        }
      
        .nav-list{
            text-align: left;
        }
        .nav-item{
            font-size: 18px;
        }
        a.nav-link:hover{
            color: white;
            font-weight: bold;
        }

        .change > .hamburger-menu{
            left: 230px;
        }
   
    }/*Mobile Design end*/












